---
title: Mister Machine Patterns
---

<div class="row">
  <div class="medium-9 columns">
    <section class="pattern-section">
      <h4 class="pattern-header">Story</h4>

      <%= partial "components/_story" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
          <%= partial "components/_story" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Excerpt</h4>

      <%= partial "components/_excerpt" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
          <%= partial "components/_excerpt" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Slats</h4>

      <%= partial "components/_slats" %>
      
      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
          <%= partial "components/_slats" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Cards</h4>

      <%= partial "components/_cards" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
          <%= partial "components/_cards" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Cover</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Hero</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Hovers</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Overlays</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Messages</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Pagination</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Panel</h4>
    </section>
  </div>

  <div class="medium-3 columns">
    <ul class="side-nav">
      <li><a href="#">Story</a></li>
      <li><a href="#">Excerpt</a></li>
      <li><a href="#">Slats</a></li>
      <li><a href="#">Cards</a></li>
      <li><a href="#">Cover</a></li>
      <li><a href="#">Hero</a></li>
      <li><a href="#">Hovers</a></li>
      <li><a href="#">Overlays</a></li>
      <li><a href="#">Messages</a></li>
      <li><a href="#">Pagination</a></li>
      <li><a href="#">Panel</a></li>
      <li><a href="#">Search Bar</a></li>
      <li><a href="#">Share</a></li>
      <li><a href="#">Follow</a></li>
      <li><a href="#">Tabs</a></li>
      <li><a href="#">Tags</a></li>
      <li><a href="#">Video</a></li>
    </ul>
  </div>
</div>
