---
title: Mister Machine Patterns
---

<div class="row">
  <div class="medium-9 columns">
    <section class="pattern-section">
      <h4 class="pattern-header">Story</h4>

      <%= partial "components/_story" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
          <%= partial "components/_story" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Excerpt</h4>

      <%= partial "components/_excerpt" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
          <%= partial "components/_excerpt" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Slats</h4>

      <%= partial "components/_slats" %>
      
      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
          <%= partial "components/_slats" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Cards</h4>

      <%= partial "components/_cards" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
          <%= partial "components/_cards" %>
        </xmp>
      </div>
    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Cover</h4>
        <p class="zeta">A cover image fills the screen horizontally and vertically</p>
      </header>

      <section class="relative container">
        <figure class="cover" style="background-image: url(http://placehold.it/2880x1620);">
        </figure>
      </section>

      <footer><a href="component-cover.html" class="button">Preview Cover Image</a></footer>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
         <%= partial "components/_cover" %>
        </xmp>
      </div>  
    </section>

    <section class="pattern-section">
      <header class="pattern-header">
        <h4 class="pattern-title">Hero</h4>
        <p class="zeta">A hero image is a full width image that responsivly scales to fit vertically. Often used to overlay headlines.</p>
      </header>

     <%= partial "components/_hero" %>

      <div class="code">
        <xmp class="prettyprint lang-html sunburst">
         <%= partial "components/_hero" %>
        </xmp>
      </div> 

    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Interchange</h4>

      <section>
        <figure>
          <img data-interchange="[images/hero-full.jpg, (default)],[images/hero-large.jpg, (large)],[images/hero-retina.jpg, (retina)] ">
        </figure>
      </section>

    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Hovers</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Overlays</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Messages</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Pagination</h4>
    </section>

    <section class="pattern-section">
      <h4 class="pattern-header">Panel</h4>
    </section>
  </div>

  <div class="medium-3 columns">
    <ul class="side-nav">
      <li><a href="#">Story</a></li>
      <li><a href="#">Excerpt</a></li>
      <li><a href="#">Slats</a></li>
      <li><a href="#">Cards</a></li>
      <li><a href="#">Cover</a></li>
      <li><a href="#">Hero</a></li>
      <li><a href="#">Hovers</a></li>
      <li><a href="#">Overlays</a></li>
      <li><a href="#">Messages</a></li>
      <li><a href="#">Pagination</a></li>
      <li><a href="#">Panel</a></li>
      <li><a href="#">Search Bar</a></li>
      <li><a href="#">Share</a></li>
      <li><a href="#">Follow</a></li>
      <li><a href="#">Tabs</a></li>
      <li><a href="#">Tags</a></li>
      <li><a href="#">Video</a></li>
    </ul>
  </div>
</div>
